<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysMaximizePlugin</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewMiddleClickPlugin</key>
	<true/>
	<key>XtraFinder_XFCollapseAllActionPlugin</key>
	<true/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyQueuePlugin</key>
	<false/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDockMenuService</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelShortcutsPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin_Shortcut</key>
	<dict>
		<key>characters</key>
		<string></string>
		<key>charactersIgnoringModifiers</key>
		<string>n</string>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_Shortcut</key>
	<dict>
		<key>characters</key>
		<string></string>
		<key>charactersIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFOpenFromSpotlightInNewTab</key>
	<true/>
	<key>XtraFinder_XFOpenInNewWindowPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<false/>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin</key>
	<true/>
	<key>XtraFinder_XFSwitchTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_HotBrowser_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>155</real>
	<key>XtraFinder_XFTabPlugin_TabStyle</key>
	<integer>1</integer>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<true/>
</dict>
</plist>
